.toggle_block, .toggle_none {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s;
}

.toggle_block {
    visibility: visible;
    opacity: 1;
    top: auto;
}

.toggle_none, .toggle_none div, .toggle_none div div {
    opacity: 0;
    top: 0;
    height: 0;
    visibility: hidden;
}

/* .hidden is defined in xoops.css but I add it in rare cases that user don't have that in his/her xoops.css */
.hidden {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
}

.ellipsis {
    text-overflow: ellipsis;
}

.string {
    text-overflow: "...PPK";
}

.deactive {
    border: 2px outset ButtonFace;
    color: GrayText;
    font-weight: normal;
    font-style: normal;
}

.ASC img:hover {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -ms-filter: "FlipV";
}

.DESC img:hover, .ASC img {
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
    -ms-filter: "FlipV";
}

.outer div.odd:hover, .outer div.even:hover {
    background-color: #b6c6d7;
}
